<?xml version="1.0" ?>
<robot name="perez_ros" xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <material name="body">
    <color rgba="0.7 0.7 0.7 1.00000" />
  </material>
  <material name="tire">
    <color rgba="0.00000 0.00000 0.00000 1.00000" />
  </material>
  <material name="camera">
    <color rgba="0.80000 0.80000 0.80000 1.00000" />
  </material>
  <material name="lidar">
    <color rgba="0.00392 0.09804 0.01569 1.00000" />
  </material>  

</robot>